<!--Background-->
<div id="bg"></div>
<div id="bg-mask"></div>

<a id="ribbon" href="https://github.com/that1guy" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 5;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

<!--Navigation-->
<nav>
  <div id="nav-menu" [className]="nav.open">
    <ul>
      <li data-menuanchor="hello" class="active">
        <a href="#hello" (click)="nav_open();"><span>hello</span></a>
      </li>
      <li data-menuanchor="work" class="">
        <a href="#work" (click)="nav_open();"><span>work</span></a>
      </li>
      <li data-menuanchor="resume" class="">
        <a href="#resume" (click)="nav_open();"><span>résumé</span></a>
      </li>
      <li data-menuanchor="folio" class="">
        <a href="#folio" (click)="nav_open();"><span>folio</span></a>
      </li>
      <li data-menuanchor="contact" class="">
        <a href="#contact" (click)="nav_open();"><span>contact</span></a>
      </li>
    </ul>
  </div>
  <div id="nav-mask" [className]="nav.open"></div>
  <a id="nav-toggle" class="visible" (click)="nav_open();"><span></span></a>
</nav>


<!--Particles.js-->
<div id="particles">
  <particles [style]="particles.style" [width]="particles.width" [height]="particles.height" [params]="particles.params"></particles>
</div>


<!--Fullpage.js-->
<div id="fullpage-content-container" mnFullpage
     [mnFullpageNavigation]="true"
     [mnFullpageAfterLoad]="after_load"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageScrollingSpeed]="750"
     [mnFullpageAnimateAnchor]="false"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">


  <!--Landing page-->
  <div class="section fp-section fp-table" data-anchor="hello">
    <div id="hello-page" class="fp-tableCell section-flex">

      <section>
        <article [className]="visible.hello">
          <h6>
            Hello_
          </h6>
        </article>

        <article [className]="visible.hello">
          <h2>
            My name is Brad Davis, I'm a Technical Product Manager, Startup Founder and Full Stack Javascript developer.  My passion is working with teams of developers, designers, and subject matter experts to create products that streamline complex industries.
          </h2>
        </article>

        <article [className]="visible.hello">
          <h4>
            I live in Portland, Oregon and have fun working at <a href="https://boxmls.com" target="_blank">BoxMLS.com</a> where I have the pleasure of building innovative technology for the real estate industry.  You can download my <a href="#resume">résumé</a> if you'd like to.
          </h4>
        </article>

      </section>

    </div>
  </div>




  <!--Work Page-->
  <div class="section fp-section fp-table" data-anchor="work">
    <div id="work-page" class="fp-tableCell section-flex">

      <section>
        <article [className]="visible.work">
          <h6>
            Work_
          </h6>
        </article>

        <article [className]="visible.work">
          <h2>
            During my 14 years in Silicon Valley I've become a master of many things, including team & product management, full-stack JavaScript development, product vision, feature prioritization, go-to-market strategies, fundraising, digital marketing, UI/UX, customer success and so much more.
          </h2>
        </article>

        <article [className]="visible.work">
          <h4>
            My career started right out of high school as an IT Admin, then an "Apple Genius", then a Google Apps Deployment Engineer, then Google Apps Solutions Architect & consultant, and finally a two-time startup founder and Technical Product Manager.
          </h4>
        </article>

        <!--<button (click)="fullpageService.moveSectionUp();">Move section up</button>-->
      </section>

    </div>
  </div>


  <!--Embedded Résumé page-->
  <div class="section fp-section fp-table" data-anchor="resume">
    <div id="resume-page" class="fp-tableCell section-flex">

      <section>
        <article [className]="visible.resume">
          <h6>
            Résumé_
          </h6>
        </article>

        <article [className]="visible.resume">
          <div class="dropshadow">
            <iframe src="https://drive.google.com/file/d/1Va5BNrBaGH-SqxhtyAeS4-JufhIk8dbL/preview" class="iframe-responsive-resume" scrolling="no"></iframe>
          </div>
        </article>

      </section>

    </div>
  </div>


  <!--Portfoio Page-->
  <div class="section fp-section" data-anchor="folio">
    <div id="folio-page" class="fp-tableCell section-flex">

      <section style="!important; padding-left:20%; padding-right:20%; height:100%">



        <!--<article [className]="visible.folio">-->
          <!--<h6>-->
            <!--Porfolio_-->
          <!--</h6>-->
        <!--</article>-->

        <i (click)="fullpageService.moveSlideLeft();" class="arrow left"></i>
        <i (click)="fullpageService.moveSlideRight();" class="arrow right"></i>

        <div class="slide">
          <article [className]="visible.folio">
            <h6>
              Porfolio_BoxMLS
            </h6>
          </article>
          <article [className]="visible.folio">
            <h4 style="padding-left: 5%; padding-right:5%;">If Zillow built the MLS, you'd get <a href="https://boxmls.com" target="_blank">BoxMLS</a>.  <a href="https://boxmls.com" target="_blank">BoxMLS</a> is a SAAS platform that is branded and sold to many MLSs and Brokerages across the nation.  Today, I am a proud founder & CTO of a successful and growing real estate technology startup. </h4>
          </article>
          <div class="videoWrapper dropshadow">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5LupZpxJCiE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>




        <div class="slide">
          <article [className]="visible.folio">
            <h6>
              Porfolio_HashtagSell
            </h6>
          </article>
          <article [className]="visible.folio">
            <h4 style="padding-left: 5%; padding-right:5%;">Imagine if you could sell anything by typing one sentence (like a tweet).  Then imagine a well-reviewed buyer purchasing your item instantly with easy shipping - this was HashtagSell, and it was my first startup.  For a few reasons, HashtagSell didn't take off, but I learned a lot.  I still think about HashtagSell everyday.</h4>
          </article>
          <div class="videoWrapper dropshadow">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ApoaMEMvkKw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>




        <div class="slide">
          <article [className]="visible.folio">
            <h6>
              Porfolio_ClusterBox
            </h6>
          </article>
          <article [className]="visible.folio">
            <h4 style="padding-left: 5%; padding-right:5%;">ClusterBox is my side-project that I've been building since before the iPhone.  Basically ClusterBox replaces my need for DirectTV, Hulu, Netflix or iTunes.  ClusterBox works with my Apple TV, browsers, mobile devices, Amazon Alexa, and even my car.  My side-projects are what keep me up-to-pace with the latest technologies.</h4>
          </article>
          <div class="videoWrapper dropshadow">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ASAJTkGnwOA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>

      </section>

    </div>
  </div>




  <!--Contact Page-->
  <div class="section fp-section fp-table" data-anchor="contact">
    <div id="contact-page" class="fp-tableCell section-flex">

      <section>
        <article [className]="visible.contact">
          <h6>
            Contact_
          </h6>
        </article>

        <article [className]="visible.contact">
          <h2>
            In case you have a project you'd like me to get involved in, or a job opportunity you think I'd be a good fit for - Drop me a line.
            I'm usually working Monday - Friday.  So just send me a good ol' fashioned e-mail.
          </h2>
        </article>

        <article [className]="visible.contact">
          <h4>
            <a href="https://www.linkedin.com/in/bradrobertdavis/" target="_blank">LinkedIn</a>
          </h4>
        </article>

        <article [className]="visible.contact">
          <h4>
            <a href="mailto:hello@imbrad.com" target="_top">e-mail: hello@imbrad.com</a>
          </h4>
        </article>
      </section>

    </div>
  </div>


</div>
