<div id="bg"></div>
<div id="bg-mask"></div>
<div id="particles">
  <particles [style]="particles.style" [width]="particles.width" [height]="particles.height" [params]="particles.params"></particles>
</div>
<div mnFullpage>
  <div class="section section-1 fp-section fp-table section-flex">
    <div class="fp-tableCell">

        <div class="greeting">
          <p>
            Hi, I'm Brad.
          </p>
          <p>
            Drink whiskey, integrate flexbox grid framework, move to Sass, get typography straight... Drink more whiskey.
          </p>
        </div>

    </div>
  </div>
  <div class="section section-2 fp-section fp-table">
    <div class="fp-tableCell">
      ...and this is page 2...
    </div>
  </div>
  <div class="section section-3 fp-section fp-table">
    <div class="fp-tableCell">
      ...and this is page 3.
    </div>
  </div>
</div>
