<!--Background-->
<div id="bg"></div>
<div id="bg-mask"></div>

<a href="https://github.com/that1guy/ImBrad.com" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 5;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

<!--Navigation-->
<nav>
  <div id="nav-menu" [className]="nav.open">
    <ul>
      <li data-menuanchor="hello" class="active">
        <a href="#hello" (click)="nav_open();"><span>hello</span></a>
      </li>
      <li data-menuanchor="work" class="">
        <a href="#work" (click)="nav_open();"><span>work</span></a>
      </li>
      <li data-menuanchor="folio" class="">
        <a href="#folio" (click)="nav_open();"><span>folio</span></a>
      </li>
      <li data-menuanchor="contact" class="">
        <a href="#contact" (click)="nav_open();"><span>contact</span></a>
      </li>
    </ul>
  </div>
  <div id="nav-mask" [className]="nav.open"></div>
  <a id="nav-toggle" class="visible" (click)="nav_open();"><span></span></a>
</nav>


<!--Particles.js-->
<div id="particles">
  <particles [style]="particles.style" [width]="particles.width" [height]="particles.height" [params]="particles.params"></particles>
</div>


<!--Fullpage.js-->
<div id="fullpage-content-container" mnFullpage
     [mnFullpageNavigation]="true"
     [mnFullpageAfterLoad]="after_load"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">


  <!--Landing page-->
  <div class="section fp-section fp-table" data-anchor="hello">
    <div id="hello-page" class="fp-tableCell section-flex">

      <section>
        <article [className]="visible.hello">
          <h6>
            Hello_
          </h6>
        </article>

        <article [className]="visible.hello">
          <h2>
            My name is Brad Davis, I'm a technical product manager, software engineer and entrepreneur.  My passion is working with teams of developers, designers, and subject matter experts to create products that streamline complex industries.
          </h2>
        </article>

        <article [className]="visible.hello">
          <h4>
            I live in San Francisco and have fun working at <a href="https://boxmls.com" target="_blank">BoxMLS.com</a> where I have the pleasure of building innovative technology for the real estate industry.  You can download my <a href="https://drive.google.com/file/d/0B3hcw_odrdvxTzhONTRnQ2M5bzA/view" target="_blank">resume</a> if you'd like to.
          </h4>
        </article>

      </section>

    </div>
  </div>




  <!--Work Page-->
  <div class="section fp-section fp-table" data-anchor="work">
    <div id="work-page" class="fp-tableCell section-flex">

      <section>
        <article [className]="visible.work">
          <h6>
            Work_
          </h6>
        </article>

        <article [className]="visible.work">
          <h2>
            During my 14 years in Silicon Valley I've become a master of many things including team management, full-stack JavaScript development, product vision, go-to-market strategies, and technical deployments.
          </h2>
        </article>

        <article [className]="visible.work">
          <h4>
            My career started right out of high school as an IT Admin, then an "Apple Genius" trainer, then Google Apps Deployment Engineer, then Google Apps Solutions Architect, and finally a startup founder.
          </h4>
        </article>

        <!--<button (click)="fullpageService.moveSectionUp();">Move section up</button>-->
      </section>

    </div>
  </div>




  <!--Portfoio Page-->
  <div class="section fp-section fp-table" data-anchor="folio">
    <div id="folio-page" class="fp-tableCell section-flex">

      <section>

        <h6>
          Porfolio_
        </h6>


        <div class="slide">
          <h4>
            BoxMLS.com (slide coming soon).
          </h4>
        </div>


        <div class="slide">
          <h4>
            HashtagSell.com (slide coming soon).
          </h4>
        </div>


        <div class="slide">
          <h4>
            AM RouteDesigner (slide coming soon).
          </h4>
        </div>


        <div class="slide">
          <h4>
            gOptimize (slide coming soon).
          </h4>
        </div>


        <div class="slide">
          <h4>
            ClusterBox.net (slide coming soon).
          </h4>
        </div>

      </section>

    </div>
  </div>




  <!--Contact Page-->
  <div class="section fp-section fp-table" data-anchor="contact">
    <div id="contact-page" class="fp-tableCell section-flex">

      <section>
        <article [className]="visible.contact">
          <h6>
            Contact_
          </h6>
        </article>

        <article [className]="visible.contact">
          <h2>
            In case you have a project you'd like me to get involved in, or a job opportunity you think I'd be a good fit for - Drop me a line.
            I'm usually working Monday - Friday.  So just send me a good ol' fashioned e-mail.
          </h2>
        </article>

        <article [className]="visible.contact">
          <h4>
            <a href="https://www.linkedin.com/in/bradrobertdavis/" target="_blank">LinkedIn</a>
          </h4>
        </article>

        <article [className]="visible.contact">
          <h4>
            <a href="mailto:hello@imbrad.com" target="_top">e-mail: hello@imbrad.com</a>
          </h4>
        </article>
      </section>

    </div>
  </div>


</div>
