body {
  font-family: 'Cardo', serif;
  background-color: #38585c;
}

body > * * {
  outline: 0 !important;
}

::selection {
  color: #000;
  background: #fff949;
}

::-moz-selection {
  color: #000;
  background: #fff949;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
}


article h2 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
}

h4 {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 28px;
}

article h4 {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 28px;
}

h6 {
  color: #000;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

article h6 {
  color: #000;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

article a {
  color: #fff;
  position: relative;
}

article a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 50%;;
  left: 0;
  transition: all .2s ease-in-out 0s;
  background-color: #fff;
}

article a:hover {
  color: #fff;
  text-decoration: none;
}

article a:hover::after {
  width: 0;
}




#fp-nav {
  z-index: 400;
}

#fp-nav ul li a span {
  background-color: #a1dbb2;
}

#fp-nav ul li a.active span {
  background-color: #a1dbb2;
}

#fp-nav ul li:hover a.active span {
  background-color: #fff;
}

.slimScrollBar {
  display: none !important;
}
